extends layout 
block content 
  h2 Orders 
  p There are #{orders.length} orders.

  ol 
    each order in orders 
      li 
        p User:
          a(href=`/users/${order.user.id}`) #{order.user.name}
        p Restaurant: 
          a(href=`/restaurants/${order.restaurant.id}`) #{order.restaurant.name}
        p Food: #{order.food} 
        p Address: #{order.address}