extends layout
block content 

  h2 User Detail 
  p #{user.name}
  p #{user.age}

  h3 Order History 
  if user.orders.length 
    ol 
      each order in user.orders 
        li #{user.name} wants to order #{order.food} from #{order.restaurant.name} to #{order.address}
  else 
    p No orders   
         